.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.packages
.pub-cache/
.pub/
build/
coverage/
outputs/
work/
*.iml
*.xcuserstate
xcuserdata/
DerivedData/
.DS_Store

ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
